HolidayReservationSystem/src/META-INF/wsdl/localhost_8080/PartnerWebService/PartnerWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:element name="InvalidLoginCredentialException" type="tns:InvalidLoginCredentialException"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="partnerLogin" type="tns:partnerLogin"/>

<xs:element name="partnerLoginResponse" type="tns:partnerLoginResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerLogin">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerLoginResponse">
<xs:sequence>
<xs:element name="return" type="tns:partner" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partner">
<xs:sequence>
<xs:element name="partnerId" type="xs:long" minOccurs="0"/>
<xs:element name="partnerName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="reservations" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservation">
<xs:sequence>
<xs:element name="creditCardInfo" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="customer" type="tns:customer" minOccurs="0"/>
<xs:element name="departureAirport" type="xs:string" minOccurs="0"/>
<xs:element name="departureDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="destinationAirport" type="xs:string" minOccurs="0"/>
<xs:element name="flightId" type="xs:long" minOccurs="0"/>
<xs:element name="flightSchedules" type="tns:flightSchedule" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="numOfPassengers" type="xs:int" minOccurs="0"/>
<xs:element name="partner" type="tns:partner" minOccurs="0"/>
<xs:element name="passengerList" type="tns:passenger" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="reservationDate" type="tns:localDate" minOccurs="0"/>
<xs:element name="reservationId" type="xs:long" minOccurs="0"/>
<xs:element name="returnDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="returnFlightSchedules" type="tns:flightSchedule" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="totalAmount" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customer">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="customerId" type="xs:long" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
<xs:element name="reservations" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flightSchedule">
<xs:sequence>
<xs:element name="arrivalDateTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="departureDateTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="estimatedFlightDurationHours" type="xs:int" minOccurs="0"/>
<xs:element name="estimatedFlightDurationMinutes" type="xs:int" minOccurs="0"/>
<xs:element name="flightNumber" type="xs:string" minOccurs="0"/>
<xs:element name="flightScheduleId" type="xs:long" minOccurs="0"/>
<xs:element name="flightSchedulePlan" type="tns:flightSchedulePlan" minOccurs="0"/>
<xs:element name="reservations" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="seatInventories" type="tns:seatInventory" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flightSchedulePlan">
<xs:sequence>
<xs:element name="complementaryReturnSchedulePlan" type="tns:flightSchedulePlan" minOccurs="0"/>
<xs:element name="disabled" type="xs:boolean" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fares" type="tns:fare" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="flight" type="tns:flight" minOccurs="0"/>
<xs:element name="flightNumber" type="xs:string" minOccurs="0"/>
<xs:element name="flightSchedulePlanId" type="xs:long" minOccurs="0"/>
<xs:element name="flightSchedulePlanName" type="xs:string" minOccurs="0"/>
<xs:element name="flightScheduleType" type="tns:flightScheduleEnum" minOccurs="0"/>
<xs:element name="flightSchedules" type="tns:flightSchedule" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="layoverDuration" type="tns:duration" minOccurs="0"/>
<xs:element name="reccurrentDay" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fare">
<xs:sequence>
<xs:element name="cabinClassType" type="tns:cabinClassEnum" minOccurs="0"/>
<xs:element name="fareAmount" type="xs:decimal" minOccurs="0"/>
<xs:element name="fareBasisCode" type="xs:string" minOccurs="0"/>
<xs:element name="fareId" type="xs:long" minOccurs="0"/>
<xs:element name="flightSchedulePlan" type="tns:flightSchedulePlan" minOccurs="0"/>
<xs:element name="restriction" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flight">
<xs:sequence>
<xs:element name="airCraftConfig" type="tns:airCraftConfig" minOccurs="0"/>
<xs:element name="complementaryReturnFlight" type="tns:flight" minOccurs="0"/>
<xs:element name="disabled" type="xs:boolean"/>
<xs:element name="flightId" type="xs:long" minOccurs="0"/>
<xs:element name="flightNumber" type="xs:string" minOccurs="0"/>
<xs:element name="flightRoute" type="tns:flightRoute" minOccurs="0"/>
<xs:element name="flightSchedulePlans" type="tns:flightSchedulePlan" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="hasComplementaryReturnFlight" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="airCraftConfig">
<xs:sequence>
<xs:element name="airCraftConfigId" type="xs:long" minOccurs="0"/>
<xs:element name="airCraftConfigName" type="xs:string" minOccurs="0"/>
<xs:element name="airCraftType" type="tns:airCraftType" minOccurs="0"/>
<xs:element name="cabinClasses" type="tns:cabinClass" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="flights" type="tns:flight" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="maxSeatCapacity" type="xs:int" minOccurs="0"/>
<xs:element name="numOfCabinClasses" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="airCraftType">
<xs:sequence>
<xs:element name="aircraftTypeId" type="xs:long" minOccurs="0"/>
<xs:element name="aircraftTypeName" type="xs:string" minOccurs="0"/>
<xs:element name="configs" type="tns:airCraftConfig" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="maxPassengerSeatCapacity" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cabinClass">
<xs:sequence>
<xs:element name="actualSeatingConfig" type="xs:string" minOccurs="0"/>
<xs:element name="airCraftConfig" type="tns:airCraftConfig" minOccurs="0"/>
<xs:element name="availableForBooking" type="xs:boolean"/>
<xs:element name="cabinClassId" type="xs:long" minOccurs="0"/>
<xs:element name="cabinClassType" type="tns:cabinClassEnum" minOccurs="0"/>
<xs:element name="fares" type="tns:fare" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="maxSeatCapacity" type="xs:int" minOccurs="0"/>
<xs:element name="numOfSeatsAbreast" type="xs:int" minOccurs="0"/>
<xs:element name="numberOfAisle" type="xs:int" minOccurs="0"/>
<xs:element name="numberOfRows" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flightRoute">
<xs:sequence>
<xs:element name="complementaryReturn" type="tns:flightRoute" minOccurs="0"/>
<xs:element name="disabled" type="xs:boolean"/>
<xs:element name="flightRouteId" type="xs:long" minOccurs="0"/>
<xs:element name="flights" type="tns:flight" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="hasComplementaryReturnRoute" type="xs:boolean"/>
<xs:element name="odPair" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="duration" final="extension restriction">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="seatInventory">
<xs:sequence>
<xs:element name="cabinClass" type="tns:cabinClass" minOccurs="0"/>
<xs:element name="cabinClassType" type="tns:cabinClassEnum" minOccurs="0"/>
<xs:element name="flightSchedule" type="tns:flightSchedule" minOccurs="0"/>
<xs:element name="numberOfAvailableSeats" type="xs:int" minOccurs="0"/>
<xs:element name="numberOfBalanceSeats" type="xs:int" minOccurs="0"/>
<xs:element name="numberOfReservedSeats" type="xs:int" minOccurs="0"/>
<xs:element name="seatInventoryId" type="xs:long" minOccurs="0"/>
<xs:element name="seats" type="tns:seat" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="seat">
<xs:sequence>
<xs:element name="passenger" type="tns:passenger" minOccurs="0"/>
<xs:element name="seatId" type="xs:long" minOccurs="0"/>
<xs:element name="seatInventory" type="tns:seatInventory" minOccurs="0"/>
<xs:element name="seatNumber" type="xs:string" minOccurs="0"/>
<xs:element name="seatStatus" type="tns:seatStatusEnum" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="passenger">
<xs:sequence>
<xs:element name="cabinClass" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="passportNum" type="xs:string" minOccurs="0"/>
<xs:element name="reservation" type="tns:reservation" minOccurs="0"/>
<xs:element name="seats" type="tns:seat" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="localDate" final="extension restriction">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="InvalidLoginCredentialException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="cabinClassEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="FIRST"/>
<xs:enumeration value="BUSINESS"/>
<xs:enumeration value="PREMIUMECONOMY"/>
<xs:enumeration value="ECONOMY"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="flightScheduleEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="SINGLE"/>
<xs:enumeration value="MULTIPLE"/>
<xs:enumeration value="RECURRENTDAY"/>
<xs:enumeration value="RECURRENTWEEK"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="seatStatusEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="AVAILABLE"/>
<xs:enumeration value="RESERVED"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>